In [ ]:
#Q1)What is Python and why it is used in data science?
Python is a high level language used in data science to analyze and process data easily.

In [ ]:
#Q2)Explain the difference between a variable and a constant in Python.
A variable in Python is a name used to store a value that can change during the program execution.
A constant is a value that does not change throughout the program.
e.g:
#Variable
x = 5  # Value of x can change
x = 10  # Now x is 10
# Constant 
PI = 3.14

In [ ]:
#Q3)How do you create a Python dictionary, and how is it different from a list?
To create a Python library, write a Python file e.g., mylibrary.py containing functions and classes, and then save it in a directory that can be imported into other projects.
A *list* is a built-in data structure in Python used to store ordered collections of items, whereas a library is a collection of reusable code, typically packaged for modular use.

In [ ]:
#Q4)What are Python tuples, and when would you use them over lists?
A Python tuple is an ordered collection of elements similar to a list, but it is immutable (cannot be changed after creation). 
Tuples are created using parentheses () 
e.g:my_tuple = (1, 2, 3)

In [1]:
#Q5)Write a Python function that takes two numbers as arguments and returns their sum?
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 5)
print(result)

10

In [ ]:
#Q6)Explain the difference between axis 0 and axis 1 in NumPy.
In NumPy, *axis 0* refers to the vertical axis (rows), while *axis 1* refers to the horizontal axis (columns). 
Operations along axis 0 perform calculations across rows,
while operations along axis 1 perform calculations across columns.

In [3]:
#Q7)What are some common aggregation functions in NumPy (e.g., sum, mean)?Provide examples
#(Sum)
import numpy as np
arr = np.array([1, 7, 4, 6])
print(np.sum(arr))

18

In [5]:
#Q7(Mean)
import numpy as np
arr = np.array([1, 7, 4, 6])
print(np.mean(arr))

4.5

In [7]:
#Q7(Minimum)
import numpy as np
arr = np.array([1, 7, 4, 6])
print(np.min(arr))

1

In [9]:
#Q7(Maximum)
import numpy as np
arr = np.array([1, 7, 4, 6])
print(np.max(arr))

7

In [13]:
#Q7( standard deviation)
import numpy as np
arr = np.array([1, 7, 4, 6])
print(np.std(arr))

2.29128784747792

In [ ]:
#Q8)What is broadcasting in NumPy? Explain with an example?
Broadcasting in NumPy is a technique that allows operations on arrays of 
different shapes and sizes to be performed without explicitly reshaping them.

In [2]:
#Q9)How do you create a Pandas DataFrame from a dictionary?
import pandas as pd
data = {
    "Name": ["Ali", "Bilal", "Sara"],
    "Age": [25, 30, 35],
    "City": ["New York", "Rawalakot", "Lahore"]
}
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0    Ali   25   New York
1  Bilal   30  Rawalakot
2   Sara   35     Lahore

In [17]:
#Q10)What are the key differences between a Pandas Series and a Pandas DataFrame?
#Pandas Series:
s = pd.Series([1, 2, 3])
print(s)

0    1
1    2
2    3
dtype: int64

In [4]:
#Pandas DataFrame:
data = {"A": [1, 2, 3], 
        "B": [4, 5, 6]}
df = pd.DataFrame(data)
print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [25]:
#Q11)How do you display the first five rows of a Pandas DataFrame?
import pandas as pd
df = pd.DataFrame({
    "Name": ["Ali", "Bilal", "Sara", "Danish", "Eva"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["Pashawer", "Rawalakot", "Karachi", "Pothi Bala","Lahore"]
})
print(df.head())

     Name  Age        City
0     Ali   25    Pashawer
1   Bilal   30   Rawalakot
2    Sara   35     Karachi
3  Danish   40  Pothi Bala
4     Eva   45      Lahore

In [27]:
#Q12)How can you rename the columns of a Pandas DataFrame?
import pandas as pd
df = pd.DataFrame({
    "Name": ["Ali", "Bilal", "Sara", "Danish", "Eva"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["Pashawer", "Rawalakot", "Karachi", "Pothi Bala","Lahore"]
})
df.rename(columns={"Name": "Full Name", "Age": "Age(years)"}, inplace=True)
print(df)

  Full Name  Age(years)        City
0       Ali          25    Pashawer
1     Bilal          30   Rawalakot
2      Sara          35     Karachi
3    Danish          40  Pothi Bala
4       Eva          45      Lahore

In [47]:
#Q13)What is the difference between the loc and iloc indexers in Pandas? Provide examples.

#loc:
import pandas as pd
data={"Name": ["Ali", "Bilal", "Sara", "Danish", "Eva"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["Pashawer", "Rawalakot", "Karachi", "Pothi Bala","Lahore"]
}
df=pd.DataFrame(data,index=["a","b","c","d","e"])
print(df.loc["a"])

Name         Ali
Age           25
City    Pashawer
Name: a, dtype: object

In [51]:
#iloc:
import pandas as pd
data={"Name": ["Ali", "Bilal", "Sara", "Danish", "Eva"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["Pashawer", "Rawalakot", "Karachi", "Pothi Bala","Lahore"]
}
df=pd.DataFrame(data,index=["a","b","c","d","e"])
print(df.iloc[2])

Name       Sara
Age          35
City    Karachi
Name: c, dtype: object

In [4]:
#Q14)How do you filter rows in a DataFrame based on a condition (e.g., select rows where a column is greater than a specific value)?
import pandas as pd
data = {"Name": ["Ali", "Bilal", "Charmy", "Danish"],
        "Age": [25, 30, 35, 40]}
df = pd.DataFrame(data)
filtered_df = df[df["Age"] > 30]
print(filtered_df)

     Name  Age
2  Charmy   35
3  Danish   40

In [9]:
#Q15).How do you calculate the sum of values in a specific column of a Pandas DataFrame?
import pandas as pd
data = {"Name": ["Ali", "Bilal", "Charmy", "Danish"],
        "Age": [25, 30, 35, 40]}
df = pd.DataFrame(data)
sum_age = df["Age"].sum()
print(sum_age)

130

In [11]:
#Q16)Explain how the groupby() function works in Pandas. Provide an example use case.
import pandas as pd
data = {"Product": ["A", "B", "A", "B", "A", "C"],
        "Sales": [100, 200, 150, 250, 300, 50]}
df = pd.DataFrame(data)
result = df.groupby("Product")["Sales"].sum()
print(result)

Product
A    550
B    450
C     50
Name: Sales, dtype: int64

In [17]:
#17)How do you handle missing data (NaN) in a Pandas DataFrame?
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, 7, 8]}
df = pd.DataFrame(data)
df_filled = df.fillna(0)
print(df_filled)

     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  7.0
3  4.0  8.0

In [ ]:
#Q18)What is the purpose of the merge() function in Pandas? How does it differ from concat()?
merge(): Combines DataFrames based on a common column or index (like SQL joins).
concat(): Stacks DataFrames either vertically or horizontally, without considering common column.

In [21]:
#Q18)Merge:
import pandas as pd
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Ali", "Bilal", "Charmy"]
})
df2 = pd.DataFrame({
    "ID": [1, 2, 4],
    "Age": [25, 30, 35]
})
merg_df = pd.merge(df1, df2, on='ID', how='inner')
print(merg_df)

   ID   Name  Age
0   1    Ali   25
1   2  Bilal   30

In [23]:
#Q18)Concatenate:
import pandas as pd
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Ali", "Bilal", "Charmy"]
})
df2 = pd.DataFrame({
    "ID": [1, 2, 4],
    "Age": [25, 30, 35]
})
concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)
print(concat_df)

   ID    Name   Age
0   1     Ali   NaN
1   2   Bilal   NaN
2   3  Charmy   NaN
3   1     NaN  25.0
4   2     NaN  30.0
5   4     NaN  35.0

In [25]:
#Q19)How do you sort a Pandas DataFrame by a specific column?
import pandas as pd
data = {"Name": ["Ali", "Bilal", "Charmy", "Danish"],
        "Age": [25, 30, 35, 20]}
df = pd.DataFrame(data)
sorted_df = df.sort_values(by="Age")
print(sorted_df)

     Name  Age
3  Danish   20
0     Ali   25
1   Bilal   30
2  Charmy   35

In [39]:
#Q20).Create a Pandas DataFrame with sample data (e.g., student names and marks) and save it as a CSV file?
import pandas as pd
data = {"Name": ["Ali", "Bilal", "Charmy", "Danish"],
        "Marks": [85, 90, 78, 92]}
df = pd.DataFrame(data)
# Save DataFrame to CSV file
df.to_csv("students_marks.csv", index=False)
print("CSV file saved")

CSV file saved